body{
    margin: 0;
    font-size: 16px;
    background: lightblue;
}
.head-container{
    height: 10vh;
    display: flex;
    gap: 20px;
    
}
.price-container{
    height: 100%;
    flex: 0 0 650px;
    text-align: center;
    background: darkblue;
    display: flex;
}
.timer-wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkblue;
    color: #fff;
}
.bet-container{
    background: #000;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.bet-btn>button{
    width: 100px;
    height: 100px;
    font-size: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgb(226, 221, 221);
    cursor: pointer;
}
.bet-btn{
    background: #000;
}
#add-btn{
    margin-bottom: 20px;
}
.timer{
    font-size: 6rem;
}
span{
    color: #fff;
}
.info{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: darkblue;
}
.money-container{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: darkblue;
}
.money{
    flex: 0 0 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}
.text{
    flex: 1;
    text-align: center;
}
.price{
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.4rem;
    flex: 0 0 450px;
}
.winOrLose{
    flex:1;
    color: red;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.allin-container{
    height: 15vh;
    display: flex;
    gap: 5px;
    background: #000;
}

.all-in-btn-fall{
    background: rgb(0, 245, 0);
    flex: 1;
    font-size: 5rem;
    border: none;
    cursor: pointer;
}
.all-in-btn-raise{
    background: red;
    flex: 1;
    font-size: 5rem;
    border: none;
    cursor: pointer;
}
.losing-money{
    color: rgb(4, 247, 4);
}
